# OS files
Thumbs.db
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db

# Temp files
*.tmp
*.temp
*.log
*.bak

# Executables / Installers (Opcional, si no quieres subir los .exe)
# *.exe
# *.msi
# *.zip
# *.rar
